<div class="container">
  <header class="pageHeader">
    <h3><i class="fa fa-shopping-cart fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.Orders' | translate}}</h3>
  </header>

  <div [@fadeInOut]>
    <span class="text-muted">-- Sample Page --</span>
  </div>


  <input [(ngModel)]="Name">  {{Name}}

  <hr />

  {{Message}}

  <button class="btn btn-outline-info" (click)="sayHello()">add message</button>

  <hr />

  <div>
    <input [(ngModel)]="Msg">
    <button class="btn btn-outline-info" (click)="add(Msg)">Add</button>&nbsp;
    <button class="btn btn-outline-info" (click)="orderby()">Orderby</button>




    <table class="table">
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td></td>
      </tr>
      <ng-container *ngFor="let x of AA; let idx = index">
          <tr>
              <td>{{x.Id}}</td>
              <td>{{x.Message}}</td>
              <td>
                <button class="btn btn-outline-info" (click)="edit(x)">Edit</button>
                <button class="btn btn-outline-info" (click)="remove(idx, x)">Remove</button>
              </td>
          </tr>
          <tr *ngIf="x.$EditRow">
              <td colspan="3">
                  <ng-container *ngTemplateOutlet="item; context: {x : x.$EditRow}"></ng-container>
              </td>
          </tr>
      </ng-container>
    </table>
  </div>

  <hr />

  <!-- 編輯樣板 -->
  <ng-template #item let-x="x">

      <div class="card">
          <div class="card-header">Edit</div>
          <div class="card-body">

            <div class="form-group">
                <label>ID</label>
                <p class="form-text text-muted">
                  {{x.Id}}
                </p>
              </div>

            <div class="form-group">
              <label>訊息</label>
              <input type="text" [(ngModel)]="x.Message"
                class="form-control" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">Help text</small>
            </div>

          </div>
          <div class="card-footer">
              <button class="btn btn-outline-info" (click)="saveEdit(x)">Save</button>
              <button class="btn btn-outline-info" (click)="cancelEdit(x)">Cancel</button>
          </div>
        </div>
  </ng-template>


  <hr>
  <h2>Template</h2>

  <ng-template [ngIf]="true">
    Hello Template {{ Name }}
  </ng-template>

  <ng-container *ngTemplateOutlet="tmp1; context: { x: {id:'1', name:'david'}}"></ng-container>

  <ng-container *ngTemplateOutlet="tmp1; context: { x: Ctx}"></ng-container>

  <ng-template #tmp1 let-x = "x">
      <div>
        Id = '{{x.id}}'
        Name = '{{x.name}}'
      </div>
  </ng-template>

</div>
